.addAnotherList {
  background-color: #7f7f80;
  border-radius: 5px;
  padding: 5px;
  width: 272px;
  height: 82px;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
  opacity: 0.7;
  color: rgb(31, 16, 16);
}
